<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Card</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      .hw {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 15px;
      }
      .card {
        background: #ffdbdb;
      }
      .card-body {
        padding: 20px;
      }
      .card-title {
        margin-bottom: 20px;
      }
      .table {
        margin-bottom: 20px;
      }
      .text-center {
        text-align: center;
      }
      .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
      }
      .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="col-xs-9 col-sm-8 col-md-6 col-lg-6 col-xl-4">
          <div class="card row justify-content-center align-items-center">
            <img
              src="<%= detail.imageSrc %>"
              class="card-img-top hw"
              alt="Card Image"
            />
            <div class="card-body">
              <h5 class="card-title text-center">
                Emergency Contact Details : <%= detail.firstName %> <%=
                detail.lastName %>
              </h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">Emergency Number</td>
                    <td class="text-center"><%= detail.emergencyNumber %></td>
                  </tr>
                  <tr>
                    <td class="text-center">Name</td>
                    <td class="text-center">
                      <%= detail.firstName %> <%= detail.lastName %>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Contact Number</td>
                    <td class="text-center"><%= detail.contactNumber %></td>
                  </tr>
                  <tr>
                    <td class="text-center">Blood Group</td>
                    <td class="text-center"><%= detail.BloodGroup %></td>
                  </tr>
                  <tr>
                    <td class="text-center">Aadhar Card</td>
                    <td class="text-center"><%= detail.aadharCard %></td>
                  </tr>
                  <tr>
                    <td class="text-center">NearBy Hospital :</td>
                    <td class="text-center">
                      <p className="px-3">
                        <a
                          href="https://www.apollo.com/"
                          target="_blank"
                          rel="noopener noreferrer"
                          >Click here to open
                        </a>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="text-center">
                <button class="btn btn-danger" onclick="getLocation()">
                  Emergency Button
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function getLocation() {
        if (navigator.geolocation) {  
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        sendLocationData(latitude, longitude);
      }

      function showError(error) {
        alert("An error occurred while retrieving location.");
      }

      function sendLocationData(latitude, longitude) {
        axios
          .post(
            "http://" + "<%= detail.hostName %>" + "/api/hospital/userdetail",
            {
              email: "<%= detail.email %>",
              latitude: latitude,
              longitude: longitude,
            }
          )
          .then((res) => {
            if (res && res.status === 200) {
              alert("Successfully sent our coordinates");
            } else {
              alert("Failed to send coordinates");
            }
          })
          .catch((err) => {
            console.error("Error:", err);
            alert("Failed to send coordinates");
          });
      }
    </script>
  </body>
</html>
